h1 {
  text-align: center;
  color: black;
  font-family: OCR A Extended;
  size: 18px;
}

h2 {
  text-align: center;
  color: black;
  font-family: OCR A Extended;
  size: 18px;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navigationlist {
    float: left;
}

li.navigationlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navigationlist a:hover {
    background-color: #111;
}

ul.footer {
    list-style-type: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D3D3D3;
    text-align: centre;
}
li.footerlist {
    float: left;
}

li.footerlist a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
