h1 {
  text-align: center;
  color: black;
  font-family: OCR A Extended;
  size: 18px;
}

h2 {
  text-align: center;
  color: black;
  font-family: OCR A Extended;
  size: 18px;
}

ul.nav-pills {
    background-color: #333;
}


li.nav a {
    display: block;
    font-size: 14px;
    margin:0 100px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav>li>a:hover{
background-color: #111;  
}


ul.dropdown-menu {
left: 0;
right: 0;
  z-index: 100;
}

li.dropdown-menu {
  float: right;
  z-index: 101;
}

ul.footer {
    list-style-type: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D3D3D3;
    text-align: centre;
}
li.footerlist {
    float: left;
}

li.footerlist a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
