body {
  background-color: gainsboro;
  border: 3px solid black;
}

header {
      text-align: center;
      background-color: white;
      height: auto;
      width: auto;
      background-position: center;
      margin-left: 100px;
      margin-right: 100px;
    }

h1 {
  text-align: center;
  color: crimson;
  font-family: courier;
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-family: courier;
  text-align: center;
  height: auto;
  width: auto;
  text-decoration: underline;
}
h3 {
  font-size: 24px;
  font-family: courier;
  text-align: center;
  text-decoration: underline;
}
h4 {
  font-size: 14px;
  font-family: courier;
  text-align: center;
}
h5 {
  font-size: 14px;
  font-family: courier;
  text-align: center;
}
ol {
  font-family: courier;
  padding: 10px;
}
  .introparagraph {
  color: crimson;
  text-align: center;
  font-family: courier;
  font-size: 24px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.method {
  color: black;
  text-align: center;
  font-family: courier;
  font-size: 20px;
  height: auto;
  width: auto;
  position: relative;
  margin-left: 250px;
  margin-right: 100px;
}

.nutrition {
 color: black;
 text-align: center;
 font-family: courier;
 font-size: 13px;
}

.alternatives {
  color: black;
  text-align: center;
  font-family: courier;
  font-size: 13px;
}

.ingredients {
  color: black;
  text-align: center;
  font-family: courier;
  font-size: 20px;
  height: auto;
  width: auto;
}

.imggone {
 margin: 40px 0px 0px 0px;
 border: 4px solid white;
 height: 268px;
 width: 210px;
 float: right;
 border-color: orange;
 border-radius: 25px;
 margin-left: 10px;
 margin-right: 25px;
 background-size: cover;
}

.imgtwo {
  margin: 40px 0px 0px 0px;
  border: 4px solid white;
  border-color: orange;
  border-radius: 25px;
  height: auto;
  width: 210px;
  float: left;
  display: block;
  margin-right: 10px;
  margin-left: 25px;
  background-size: cover;
}

.navbar-nav {
  font-family: courier;
}
